<?xml version="1.0" encoding="UTF-8"?>
<settings 
	xmlns="http://maven.apache.org/SETTINGS/1.0.0" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
	<pluginGroups>
		<pluginGroup>org.mortbay.jetty</pluginGroup>
		<pluginGroup>org.codehaus.cargo</pluginGroup>
	</pluginGroups>
	<profiles>
		<profile>
			<id>centit</id>
			<repositories>
				<repository>
					<id>centit-nexus</id>
					<name>centit nexus</name>
					<url>http://www.centit.com/nexus/content/groups/centit-default-group/</url>
					<releases>
						<enabled>true</enabled>
						<updatePolicy>always</updatePolicy>
					</releases>
					<snapshots>
						<enabled>true</enabled>
						<updatePolicy>always</updatePolicy>
					</snapshots>
				</repository>
			</repositories>
			<pluginRepositories>
				<pluginRepository>
					<id>centit-nexus</id>
					<name>centit nexus</name>
					<url>http://www.centit.com/nexus/content/groups/centit-default-group/</url>
					<releases>
						<enabled>true</enabled>
						<updatePolicy>always</updatePolicy>
					</releases>
					<snapshots>
						<enabled>true</enabled>
						<updatePolicy>always</updatePolicy>
					</snapshots>
				</pluginRepository>
			</pluginRepositories>
		</profile>
	</profiles>
	<mirrors>
		<mirror>
			<id>nexus-aliyun</id>
			<mirrorOf>central</mirrorOf>
			<name>Nexus aliyun</name>
			<url>http://maven.aliyun.com/nexus/content/groups/public</url>
		</mirror>
	</mirrors>
	<servers>
		<server>
			<id>centit-snapshots</id>
			<username>developer</username>
			<password>centit</password>
		</server>
	</servers>
	<activeProfiles>
		<activeProfile>centit</activeProfile>
	</activeProfiles>
</settings>
